@charset "utf-8";
/* CSS Document */
/*親要素をrelativeに*/
#example {
  position: relative;
}
/*3つともabsoluteに*/
.one, .two, .three, .four, .five, .six{
  position: absolute;
}
.one {
  text-align: center;
}
.two {
  left: 5%;
  top: 143%;
}
.three {
  left: 5%;
  top: 155%;
}
.four {
  left: 5%;
  top: 30%;
}
.five {
  left:5%;
  top: 110%;
}
.six {
  left:40%;
  top: 200%;
}
/*色付けなどは省略*/