@charset "utf-8";
/* CSS Document */
.fixed {
  position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left: 0;
  /*余白が入らないように*/
  margin: 0;
  /*以下装飾*/
  width: 100%;
  background: #00000;
  color:white;
}

.video-wrap {
  position: relative;
}
p {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "sans-serif";          
  color: #fff;
  font-size: 300%;
  position: absolute;
  left: 30%;
  top: 200px;
  z-index: 1;
}
.fixed{
position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('img/LBFM.png') no-repeat;
    background-size: cover;
    -ms-filter: blur(3px);
    filter: blur(3px);
	}