@charset "utf-8";
/* CSS Document */
.fixed {
  position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left: 0;
  /*余白が入らないように*/
  margin: 0;
  /*以下装飾*/
  width: 100%;
  background: #FFC778;
  color:white;
}

.video-wrap {
  position: relative;
}
p {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "sans-serif";          
  color: #fff;
  font-size: 300%;
  position: absolute;
  left: 30%;
  top: 200px;
  z-index: 1;
}